@import '../../../../assets/comman-style.scss';

.upload-img {
    position: absolute;
    top: 30%;
    z-index: 10;
    background: #000;
    padding: 10px 10px;
    border-radius: 4px;
    left: 40%;
}