<div class="row">
    <div class="col-sm-6">
         <label for="" class="mb-0">Upload Thumbnail</label><br>
         <div class="progress" *ngIf="progressImage">
            <div class="progress-bar" [style.width]="progressImage + '%'">{{progressImage}}%</div>
        </div>
         <label class="video-file" for="thumbnail">
             <img src="assets/icons/up-bg.svg" class="preview" *ngIf="!picture">
             <img [src]="filepath+picture" class="preview" *ngIf="picture" style="width: 100%;height: 100%;">
             <input type="file" id="thumbnail" 
             accept="image/x-png,image/gif,image/jpeg"  (change)="upFile($event.target.files[0])">
         </label>
     </div>
    <div class="col-sm-6">
        <label for="" class="mb-0">Upload Video</label> <br>
        <div class="progress" *ngIf="progressVideo">
            <div class="progress-bar" [style.width]="progressVideo + '%'">{{progressVideo}}%</div>
        </div>
        <label class="video-file" for="video">
            <span id="vplay"></span>
            <img src="assets/icons/up-bg.svg" class="v-video" *ngIf="!VideoFile">
            <video [src]="filepath+VideoFile" *ngIf="VideoFile" style="width: 100%;height: 100%;"></video>
            <input type="file" id="video" accept="video/mp4,video/x-m4v,video/*" (change)="upVideoFile($event.target.files[0])">
        </label>
    </div>
</div>
<input  type="hidden" [(ngModel)]="picture" (ngModelChange)="UpdatePicture(picture)">
<input type="hidden" [(ngModel)]="VideoFile"  (ngModelChange)="UpdateVideoFile(VideoFile)">
<hr>

 <style>
     
.video-file{
    display: inline-block;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    width: 150px;
    border: 1px solid #dadada;
    cursor: pointer;
    height: 100px;
    margin-top: 0;
} 
.video-file input {
        visibility: hidden;
        position: absolute;
    }
 </style>