<h5 *ngIf="isAddMode" class="mt-2">Add Packages</h5>
<h5 *ngIf="!isAddMode" class="mt-2">Edit Packages</h5>

<!-- <button (click)="createplan()">Add Plan</button> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
    <div class="col-sm-6">
        <label for="isactive">Status</label>
        <select formControlName="isactive" class="form-control">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>

        <!-- <input type="text" formControlName="plan_type" class="form-control" /> -->
        
        <label for="">Select Package Type</label>
        <select (change)="plantype($event.target.value)" class="form-control">
            <option value="">Montlhy Package</option>
            <option value="onetime">One Time Package</option>
        </select>
        
        <label for="title">Package Name</label>
        <input type="hidden" formControlName="plan_id" *ngIf="typeOfPlan != 'onetime'"/>
        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required"> Title is required</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="title">Price </label>
                <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required"> price is required</div>
                    <div *ngIf="f.price.errors.min">Please Enter a valid Amount</div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="isAddMode && typeOfPlan != 'onetime'">
                <label for="title">Duration </label>
                <select formControlName="month" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.month.errors }">
                    <option value="1">1 Month</option>
                    <option value="2">2 Month</option>
                    <option value="3">3 Month</option>
                    <option value="4">4 Month</option>
                    <option value="5">5 Month</option>
                    <option value="6">6 Month</option>
                    <option value="7">7 Month</option>
                    <option value="8">8 Month</option>
                    <option value="9">9 Month</option>
                    <option value="10">10 Month</option>
                    <option value="11">11 Month</option>
                    <option value="12">12 Month</option>
                </select>

                <div *ngIf="submitted && f.month.errors && typeOfPlan != 'onetime'" class="invalid-feedback">
                    <div *ngIf="f.month.errors.required"> Duration is required</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <p><b>Description</b></p>
        <textarea [ngxSummernote]="config" formControlName="description"></textarea>
        
    </div>
    <br>

    <div class="pl-4 mt-2">
        <button [disabled]="loading" class="secondry-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Details
        </button>
    </div>

</form>

<!-- 
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row" *ngIf="typeOfPlan === 'onetime'">
    <div class="col-sm-6">
        <label for="isactive">Status</label>
        <select formControlName="isactive" class="form-control">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>

        <label for="">Select Package Type</label>
        <select (change)="plantype($event.target.value)" class="form-control">
            <option value="">Montlhy Package</option>
            <option value="onetime">One Time Package</option>
        </select>
        
        <label for="title">Package Name</label>
        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required"> Title is required</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="title">Price </label>
                <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required"> price is required</div>
                    <div *ngIf="f.price.errors.min">Please Enter a valid Amount</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <p><b>Description</b></p>
        <textarea [ngxSummernote]="config" formControlName="description"></textarea>
        
    </div>
    <br>

    <div class="pl-4 mt-2">
        <button [disabled]="loading" class="secondry-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Details
        </button>
    </div>

</form> -->