<h5 class="mt-2 pt-2 pl-3 pr-3 mb-4 row mr-2 ml-2 justify-content-between align-items-center">Recurring Packages
    <span *ngIf="pricing">
        <a routerLink="add" class="add-btn">
            <img src="assets/icons/add.svg"> Add Packages
        </a>
    </span>
</h5>


<div class="row pricing-wrapper pr-3" *ngIf="pricing">
    <div class="col-sm-4" *ngFor="let price of pricing.data">
        <div class="pricing">
            <div class="price-header">
                <h6 class="p-name">{{price.title}}</h6>
                <h5 class="p-amount" *ngIf="price.price != 0">{{price.price}} AUD <small>Per Month</small></h5>
                <h5 class="p-amount" *ngIf="price.price === 0">*** <small>Ask For Price</small></h5>
            </div>
            <div class="mt-3 p-2" [innerHTML]="price.description">
            </div>
            <hr>
            <a routerLink="edit/montlhy&&{{price._id}}" class="mr-2">
                <svg width="17.17" height="17.169" viewBox="0 0 17.17 17.169"><path d="M13.593,91.539a.715.715,0,0,0-.715.715v5.723a.716.716,0,0,1-.715.715H2.146a.716.716,0,0,1-.715-.715V87.962a.716.716,0,0,1,.715-.715H7.87a.715.715,0,0,0,0-1.431H2.146A2.149,2.149,0,0,0,0,87.962V97.978a2.149,2.149,0,0,0,2.146,2.146H12.162a2.149,2.149,0,0,0,2.146-2.146V92.255a.715.715,0,0,0-.716-.715Zm0,0" transform="translate(0 -82.955)" fill="#9eca01"></path><path d="M182.419,73.922a.362.362,0,0,0-.1.182l-.506,2.53a.357.357,0,0,0,.351.428.34.34,0,0,0,.07-.007l2.529-.506a.356.356,0,0,0,.183-.1l5.66-5.66-2.529-2.529Zm0,0" transform="translate(-175.712 -65.99)" fill="#9eca01"></path><path d="M394.965,1.024a1.79,1.79,0,0,0-2.529,0l-.99.99,2.529,2.529.99-.99a1.788,1.788,0,0,0,0-2.529Zm0,0" transform="translate(-378.318 -0.501)" fill="#9eca01"></path></svg>
            </a>
            <br><br>
        </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="onetimepricing">
    <h5>One Time Package</h5>
</div>
<div class="row pricing-wrapper pr-3" *ngIf="onetimepricing">
    <div class="col-sm-4" *ngFor="let price of onetimepricing.data">
        <div class="pricing">
            <div class="price-header">
                <h6 class="p-name">{{price.title}}</h6>
                <h5 class="p-amount" *ngIf="price.price != 0">{{price.price}} AUD</h5>
                <h5 class="p-amount" *ngIf="price.price === 0">*** <small>Ask For Price</small></h5>
            </div>
            <div class="mt-3 p-2" [innerHTML]="price.description">
            </div>
            <hr>
            <a routerLink="edit/onetime&&{{price._id}}" class="mr-2">
                <svg width="17.17" height="17.169" viewBox="0 0 17.17 17.169"><path d="M13.593,91.539a.715.715,0,0,0-.715.715v5.723a.716.716,0,0,1-.715.715H2.146a.716.716,0,0,1-.715-.715V87.962a.716.716,0,0,1,.715-.715H7.87a.715.715,0,0,0,0-1.431H2.146A2.149,2.149,0,0,0,0,87.962V97.978a2.149,2.149,0,0,0,2.146,2.146H12.162a2.149,2.149,0,0,0,2.146-2.146V92.255a.715.715,0,0,0-.716-.715Zm0,0" transform="translate(0 -82.955)" fill="#9eca01"></path><path d="M182.419,73.922a.362.362,0,0,0-.1.182l-.506,2.53a.357.357,0,0,0,.351.428.34.34,0,0,0,.07-.007l2.529-.506a.356.356,0,0,0,.183-.1l5.66-5.66-2.529-2.529Zm0,0" transform="translate(-175.712 -65.99)" fill="#9eca01"></path><path d="M394.965,1.024a1.79,1.79,0,0,0-2.529,0l-.99.99,2.529,2.529.99-.99a1.788,1.788,0,0,0,0-2.529Zm0,0" transform="translate(-378.318 -0.501)" fill="#9eca01"></path></svg>
            </a>
            <br><br>
        </div>
    </div>
</div>