@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
//FONT FAMILY
$popins: 'Poppins',
sans-serif;
$primary:#9ECA01;
$secondry:#2B343B;
@mixin after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

.body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    font-size: 14px;
    font-family: $popins !important;
    padding-left: calc(4% + 280px);
    min-height: 100vh;
    padding-top: 65px;
    @media(max-width: 991px) {
        padding-left: 0;
        .logout {
            display: none;
        }
    }
}

.dropdown {
    &:hover {
        .dropdown-menu {
            display: block !important;
            top: 95%
        }
    }
}

.color-primary {
    color: $primary;
}

.container-fluid {
    padding-right: 4%;
    padding-left: 4%;
}

.relative {
    position: relative;
}

*:hover,
* {
    text-decoration: none !important;
    outline: 0 !important;
}

*:disabled,
.disabled {
    pointer-events: none;
}

@mixin btn-base {
    display: inline-flex;
    align-items: center;
    padding: 6px 20px;
    min-width: 120px;
    justify-content: center;
    border-radius: 4px;
    letter-spacing: .5px;
    text-decoration: none !important;
    border: 1px;
    border-style: solid;
    cursor: pointer;
    white-space: nowrap;
    transition: all 200ms linear;
    &:active {
        box-shadow: none;
    }
}

.primary-btn {
    @include btn-base;
    background: $primary;
    border-color: $primary;
    color: #000;
    box-shadow: 0 3px 6px rgba($primary, .2);
    font-weight: 500;
    &:hover,
    &:focus,
    &:active {
        background: transparent;
        color: $primary;
        border-color: $primary;
        outline: 0 !important
    }
}

.secondry-btn {
    @include btn-base;
    background: $secondry;
    border-color: $secondry;
    color: #fff;
    box-shadow: 0 3px 6px rgba($secondry, .2);
    &:hover,
    &:focus,
    &:active {
        background: transparent;
        color: $secondry;
        border-color: $secondry;
    }
}

.add-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    border: 0px;
    border-style: solid;
    cursor: pointer;
    white-space: nowrap;
    color: #222222;
    font-weight: 500;
    position: absolute;
    right: 18px;
    z-index: 2;
    img {
        width: 40px;
    }
    &:hover,
    &:focus,
    &:active {
        background: transparent;
        outline: 0 !important;
        color: $primary;
    }
}

.form-control {
    border-color: #dadada;
    font-size: 14px;
    padding: 10px 10px;
    min-height: 40px;
}

label {
    font-size: 14px;
    margin-top: 14px;
}

// MODALS
.close {
    position: absolute;
    z-index: 3;
    right: 4px;
    top: 4px;
    outline: none !important;
    padding: 0 !important;
    opacity: 1 !important;
    background: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
    img {
        width: 32px;
    }
}

// LOGIN
.auth {
    .authbg {
        background: $secondry;
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        z-index: 1;
        justify-content: center;
        color: #fff;
        &:after {
            @include after();
            background: $secondry;
            left: -100%;
            right: 0;
        }
        img {
            max-width: 100%;
            display: block;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 24px;
            font-weight: 100;
        }
        h5 {
            font-size: 34px;
            font-weight: 100;
        }
    }
}

// HEADER
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
    padding: 10px 4%;
    display: flex;
    align-items: center;
    background: $secondry;
    justify-content: space-between;
    .site-logo {
        img {
            max-width: 150px;
            margin-right: 8px;
            display: block;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .dropdown {
        >a {
            color: #fff;
            display: flex;
            align-items: center;
            margin-right: 30px;
            transition: all 200ms linear;
            &:hover {
                color: $primary
            }
        }
        .dropdown-menu {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .notification {
        .dropdown-menu {
            min-width: 210px;
            a {
                white-space: inherit !important;
                font-size: 13px;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 1.4;
            }
        }
    }
}

// SIDEBAR
.ath-sidebar {
    position: fixed;
    width: 280px;
    padding-top: 100px;
    top: 0;
    left: 4%;
    bottom: 0;
    z-index: 6;
    background: #fff;
    border-right: 1px solid #dadada;
    padding-right: 15px;
    @media(max-width: 991px) {
        display: none;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            display: block;
            margin-bottom: 10px;
            position: relative;
            a {
                display: flex;
                align-items: center;
                color: #222222;
                position: relative;
                z-index: 1;
                font-size: 14px;
            }
            &:hover {
                a {
                    color: $primary;
                }
            }
        }
        .active {
            color: $primary !important;
        }
    }
    .current-user {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #000;
        margin-bottom: 14px;
        border-bottom: 1px dotted #dadada;
        padding-bottom: 10px;
        small {
            opacity: .6;
            display: block;
            line-height: 1;
        }
        img {
            width: 60px;
            border-radius: 4px;
            height: 60px;
            flex: 0 0 60px;
            margin-right: 10px;
            box-shadow: 0 0 6px rgba(0, 0, 0, .2);
        }
        a {
            position: absolute;
            right: 0px;
            top: 0;
            svg {
                opacity: 0.4
            }
            &:hover {
                svg {
                    fill: $primary;
                    opacity: 1;
                    path {
                        fill: $primary;
                    }
                }
            }
        }
    }
}

main {
    padding-right: 15px;
    min-height: calc(100vh - 100px);
}

.upic {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    object-fit: cover;
    object-position: center top;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    margin-right: 10px;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

//coach
.primary-color {
    color: $primary;
}

.page-title {
    border-bottom: 1px solid #dadada;
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #000;
        svg {
            margin-right: 8px;
        }
        &:hover {
            color: $primary;
            svg {
                fill: $primary;
                opacity: 1;
                path {
                    fill: $primary;
                }
            }
        }
    }
}

.pro-pic {
    width: 150px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.pro-data {
    h5 {
        font-size: 17px;
        margin-top: 26px;
        color: $primary;
        font-weight: 600;
        margin-bottom: 0;
    }
    h6 {
        margin-bottom: 22px;
        font-size: 14px;
        small {
            display: block;
        }
    }
}

.highcharts-tooltip {
    z-index: 999999 !important;
    pointer-events: all !important;
}

.expired {
    position: fixed;
    left: 350px;
    top: 20%;
    color: red;
}

.nolink {
    opacity: .5;
    &:hover {
        a {
            color: #222222 !important;
        }
    }
}