
<div class="banner-home-content">
    <img src="assets/banner.jpg" style="width: 100%;">
    <form [formGroup]="form" (ngSubmit)="onSubmitBanner()">
        <textarea formControlName="title" class="form-control text-center" rows="4"></textarea> <br>
        <input type="hidden" formControlName="description">
        <button [disabled]="loading" class="primary-btn mt-3" style="font-size: 14px;">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Details
        </button>
    </form>
</div>


<div class="offer-new mt-5 ">
    <div class="row">
        <div class="col-sm-3">
            <app-image7></app-image7>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <app-image1></app-image1>
                </div>
                <div class="col-sm-6">
                    <app-image2></app-image2>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6">
                    <app-image3></app-image3>
                </div>
                <div class="col-sm-6">
                    <app-image4></app-image4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-6">
                    <app-image5></app-image5>
                </div>
                <div class="col-sm-6">
                    <app-image6></app-image6>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="home-about">
    <div class="container-fluid" style="padding: 50px 0;">
        <div class="about row">
            <div class="col-sm-4">
                <form [formGroup]="form" (ngSubmit)="onSubmitBanner()">
                    <textarea  [ngxSummernote]="config" formControlName="description"></textarea> <br>
                    <input type="hidden" formControlName="title">
                    <button [disabled]="loading" class="primary-btn mt-3" style="font-size: 14px;">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save Details
                    </button>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <app-image1  class="col-sm-6 pl-0"></app-image1>
                    <app-image2 class="col-sm-6 pr-0"></app-image2>
                </div> 
                
            </div>
            <div class="col-sm-4">
                <app-about></app-about>
            </div>
        </div>

    </div>
</div>  -->


<div class="offer mt-5">
    <div class="container-fluid">
        <app-offer></app-offer>
        <div class="row align-items-center">
            <div class="row offer-points" *ngIf="icons">
                <div *ngFor="let slide of icons.data; let i = index" class="offer-box">
                    <img [src]="IconPath+slide.image" *ngIf="slide.image" style="max-width: 80px;"> {{slide.title}}
                    <div class="d-flex" style="margin:16px -15px -30px -15px">
                        <a routerLink="javascript:void(0)" (click)="edit(Modal , slide._id)" class="col primary-btn m-0" style="margin:0;border-radius: 0;min-width: auto;">
                            <svg width="17.17" height="17.169" viewBox="0 0 17.17 17.169"><path d="M13.593,91.539a.715.715,0,0,0-.715.715v5.723a.716.716,0,0,1-.715.715H2.146a.716.716,0,0,1-.715-.715V87.962a.716.716,0,0,1,.715-.715H7.87a.715.715,0,0,0,0-1.431H2.146A2.149,2.149,0,0,0,0,87.962V97.978a2.149,2.149,0,0,0,2.146,2.146H12.162a2.149,2.149,0,0,0,2.146-2.146V92.255a.715.715,0,0,0-.716-.715Zm0,0" transform="translate(0 -82.955)" fill="#000"></path><path d="M182.419,73.922a.362.362,0,0,0-.1.182l-.506,2.53a.357.357,0,0,0,.351.428.34.34,0,0,0,.07-.007l2.529-.506a.356.356,0,0,0,.183-.1l5.66-5.66-2.529-2.529Zm0,0" transform="translate(-175.712 -65.99)" fill="#000"></path><path d="M394.965,1.024a1.79,1.79,0,0,0-2.529,0l-.99.99,2.529,2.529.99-.99a1.788,1.788,0,0,0,0-2.529Zm0,0" transform="translate(-378.318 -0.501)" fill="#000"></path></svg>                            Edit
                        </a>
                        <button class="primary-btn col" style="margin:0;border-radius: 0;background: crimson;min-width: auto;" (click)="deleteSlide(slide._id);$event.stopPropagation()" [disabled]="slide.isDeleting">
                            <span *ngIf="slide.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!slide.isDeleting">
                                <svg  width="15.632" height="17.569" viewBox="0 0 15.632 17.569"><g transform="translate(0.2 0.2)"><g transform="translate(0 0)"><path d="M72.6,114.908H61.461a.44.44,0,0,0-.33.11.374.374,0,0,0-.11.33l1.145,9.971a2.179,2.179,0,0,0,2.179,1.915h5.547a2.179,2.179,0,0,0,2.2-1.981l.946-9.949a.374.374,0,0,0-.11-.286A.44.44,0,0,0,72.6,114.908Zm-1.387,10.3a1.277,1.277,0,0,1-1.321,1.145H64.344a1.255,1.255,0,0,1-1.3-1.123l-1.1-9.443H72.114Z" transform="translate(-59.414 -110.065)" fill="#fff" stroke="#fff" stroke-width="0.4"/><path d="M37.784,1.981H33.25v-.7A1.233,1.233,0,0,0,32.063,0h-2.84a1.233,1.233,0,0,0-1.255,1.21q0,.033,0,.067v.7H23.433a.44.44,0,1,0,0,.88H37.784a.44.44,0,1,0,0-.88Zm-5.415-.7v.7H28.848v-.7a.352.352,0,0,1,.374-.4H32a.352.352,0,0,1,.376.326A.348.348,0,0,1,32.37,1.277Z" transform="translate(-22.993 0)" fill="#fff" stroke="#fff" stroke-width="0.4"/></g></g></svg>
                                Delete
                            </span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <a class="primary-btn" (click)="open(Modal)">Add New</a>
    </div>
</div>

<ng-template #Modal let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<img src="assets/images/close.svg">
		</button>
    <div class="modal-body">
        <app-banner [item]="iconid"></app-banner>
    </div>
</ng-template>



<div id="testimonial">
    <div class="container-fluid">
        <h1>Testimonial</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmitcreatetestimonial()" class="mb-5">
            <div>
                <h5>Title</h5>
                <input type="text" class="form-control" formControlName="title">
                <br>
                <span *ngIf="testimonials">
                    <img [src]="filepath+testimonialImage" *ngIf="testimonialImage" style="max-width: 100%;">
                </span>
                <span *ngIf="!testimonialImage" class="clippath">
                    <img src="assets/base.jpg">
                </span>
                <br>
                <label for="upload-img" class="upload-img" style="white-space: nowrap;">
                    <svg width="17.17" height="17.169" viewBox="0 0 17.17 17.169"><path d="M13.593,91.539a.715.715,0,0,0-.715.715v5.723a.716.716,0,0,1-.715.715H2.146a.716.716,0,0,1-.715-.715V87.962a.716.716,0,0,1,.715-.715H7.87a.715.715,0,0,0,0-1.431H2.146A2.149,2.149,0,0,0,0,87.962V97.978a2.149,2.149,0,0,0,2.146,2.146H12.162a2.149,2.149,0,0,0,2.146-2.146V92.255a.715.715,0,0,0-.716-.715Zm0,0" transform="translate(0 -82.955)" fill="#9eca01"/><path d="M182.419,73.922a.362.362,0,0,0-.1.182l-.506,2.53a.357.357,0,0,0,.351.428.34.34,0,0,0,.07-.007l2.529-.506a.356.356,0,0,0,.183-.1l5.66-5.66-2.529-2.529Zm0,0" transform="translate(-175.712 -65.99)" fill="#9eca01"/><path d="M394.965,1.024a1.79,1.79,0,0,0-2.529,0l-.99.99,2.529,2.529.99-.99a1.788,1.788,0,0,0,0-2.529Zm0,0" transform="translate(-378.318 -0.501)" fill="#9eca01"/></svg>
                    Change Image
                    <input type="file"  accept="image/x-png,image/gif,image/jpeg" (change)="upFile($event.target.files[0])">
                </label>

                <input type="hidden" class="iconnew" formControlName="image" [(ngModel)]="testimonialImage">
                <button [disabled]="loading" class="primary-btn mt-3 ml-3">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save Details
                </button>
                <br>
            </div>
        </form>
    </div>
</div>

<hr>


<div class="container-fluid diffrent">
    <div class="row  mb-4 mt-4 justify-content-center">
        <div class="col-sm-6">
            <div class="img-animation">
                <app-diffrent-image></app-diffrent-image>
                <!-- <img src="assets/images/diffrent.svg"> -->
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <app-diffrent></app-diffrent>
        </div>
    </div>

<div class="container-fluid diffrent" style="background: #2B343B;margin: 0;padding: 20px;">
    <div class="row  mb-4 mt-4 justify-content-center">
        <div class="col-sm-6">
            <app-diffrent4></app-diffrent4>
        </div>
    </div>
</div>

