<h5 *ngIf="isAddMode" class="mt-2">Add Program</h5>
<h5 *ngIf="!isAddMode" class="mt-2">Edit Program</h5>

<form  [formGroup]="form"  (ngSubmit)="onSubmit()" >
    <!-- X -->

    <div>
        
        <!-- <button type="submit">submit</button> -->
    </div>
    <ul class="ptogram-wrapper">
        <li>
            <label for="isactive">Status</label>
            <select formControlName="isactive" class="form-control">
                <option value="">Select Status</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>

            <label for="">Program Title</label>
            <input type="text" class="form-control" formControlName="title" autofill="off" autocomplete="off"
            placeholder="Program Name" />
        </li>

        <li formArrayName="data">
            <ng-container  *ngFor="let data of form.controls.data['controls']; let i = index">
            <ul class="mt-3"  formGroupName="{{i}}">
                <li>
                    <div class="v-group">
                        <label>Instruction Title</label>
                        <div class="d-flex">
                            <input type="text" formControlName="instructionTitle" class="form-control">
                            <button *ngIf="form.controls.data.controls.length > 1" type="button"
                                (click)="deleteGroup(i)" class="btn btn-danger"><small>Delete Group</small></button>
                        </div>
                        <label>Video link</label>
                        <input type="url" formControlName="videoLink" placeholder="video link" class="form-control">
                    </div>

                    <ul formArrayName="instruction">
                        <li *ngFor="let title of data.controls.instruction.controls; let j = index"
                        formGroupName="{{j}}">
                            <div class="d-flex">
                                <div  *ngIf="!isAddMode">
                                    
                                </div>
                                <!-- <input type="hidden" formControlName="status" placeholder="status" class="form-control"> -->
                                <input type="text" formControlName="title" placeholder="title" class="form-control">
                                <button *ngIf="data.controls.instruction.controls.length > 1" type="button"
                                        (click)="deleteInstruction(i,j)" class="btn btn-warning"><small>Delete Row</small></button>
                            </div>
                        </li>
                        <div class="text-right">
                            <button type="button" class="secondry-btn" (click)="addInstruction(i)">Add Instruction Rules</button>
                        </div>
                    </ul>
                </li>
            </ul>
        </ng-container>
        </li>
    </ul>

    <hr>
   <div class="d-flex mb-5">
    <button type="button" class="primary-btn mr-3" (click)="addGroup()">Add Program Instruction</button>
    <button type="submit" class="primary-btn ">Save Program</button>
   </div>
</form>