<h5 *ngIf="isAddMode" class="mt-2">Add FAQ</h5>
<h5 *ngIf="!isAddMode" class="mt-2">Edit FAQ</h5>


<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
    <div class="col-sm-8">
        <select formControlName="isactive" class="form-control">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>


        <label for="name">Question</label>
        <input type="text" formControlName="question" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.question.errors }" />
        <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
            <div *ngIf="f.question.errors.required"> question is required</div>
        </div>

        <label for="username">answer</label>
        <textarea  formControlName="answer" class="form-control" rows="6"></textarea>
        <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
            <div *ngIf="f.answer.errors.required">answer is required</div>
        </div>


        <br><div class="text-right mt-2">
            <button [disabled]="loading" class="secondry-btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save Details
            </button>
            <!-- <a routerLink="/admin/coach" class="btn-cancel">Cancel</a> -->
        </div>
    </div>

</form>