
<div *ngIf="!homepage" style="width: 100%;height:100vh;background: url(assets/banner-loader.jpg);position: relative;z-index: 9999;">

</div>

<ng-container></ng-container>
<app-navbar></app-navbar>
<ng-template #SignUPModal let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<img src="assets/images/close.svg">
    </button>
    <div class="modal-body">
        <app-register></app-register>
    </div>
</ng-template>


<div *ngIf="homepage">
    <div class="banner-home-content">
        <img src="assets/banner.jpg" style="width: 100%;">
        <p *ngIf="HomePageData.Banner">
            <img [src]="filepath+logo.data.logo" alt="SpeedAcadmy" *ngIf="logo"> <br> {{HomePageData.Banner.title}}
        </p>
    </div>



    <div id="about"></div>
    <div class="aboutnew">
        <div class="container-fluid  mb-4">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-3">
                    <h3 class="mb-4">About Me</h3>
                    <ng-container *ngIf="HomePageData.HomeOfferImage7">
                        <img [src]="filepath+HomePageData.HomeOfferImage7.image" class="img-fluid">
                    </ng-container>
                </div>
                <div class="col-sm-7">
                    <ng-container *ngIf="HomePageData.HomeOfferImage1">
                        <div class="hex">
                            <span class="clippath">
                                <img src="assets/hexagon.png" class="img-bg">
                                <img [src]="filepath+HomePageData.HomeOfferImage1.image">
                            </span>
                            <div [innerHTML]="HomePageData.HomeOfferImage1.title"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="HomePageData.HomeOfferImage2">
                        <div class="hex">
                            <span class="clippath">
                                <img src="assets/hexagon.png" class="img-bg">
                                <img [src]="filepath+HomePageData.HomeOfferImage2.image">
                            </span>
                            <div [innerHTML]="HomePageData.HomeOfferImage2.title"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="HomePageData.HomeOfferImage3">
                        <div class="hex">
                            <span class="clippath">
                                <img src="assets/hexagon.png" class="img-bg">
                                <img [src]="filepath+HomePageData.HomeOfferImage3.image">
                            </span>
                            <div [innerHTML]="HomePageData.HomeOfferImage3.title"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="HomePageData.HomeOfferImage4">
                        <div class="hex">
                            <span class="clippath">
                                <img src="assets/hexagon.png" class="img-bg">
                                <img [src]="filepath+HomePageData.HomeOfferImage4.image">
                            </span>
                            <div [innerHTML]="HomePageData.HomeOfferImage4.title"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="HomePageData.HomeOfferImage5">
                        <div class="hex">
                            <span class="clippath">
                                <img src="assets/hexagon.png" class="img-bg">
                                <img [src]="filepath+HomePageData.HomeOfferImage5.image">
                            </span>
                            <div [innerHTML]="HomePageData.HomeOfferImage5.title"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="HomePageData.HomeOfferImage6">
                        <div class="hex">
                            <span class="clippath">
                                <img src="assets/hexagon.png" class="img-bg">
                                <img [src]="filepath+HomePageData.HomeOfferImage6.image">
                            </span>
                            <div [innerHTML]="HomePageData.HomeOfferImage6.title"></div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div id="diffrence"></div>
    <div class="makeusdiffrent">
        <div class="container" *ngIf="HomePageData.HomeMakesDifferent">
            <div class="row ">
                <div class="col-sm-5">
                    <h2>{{HomePageData.HomeMakesDifferent.title}}</h2>
                    <p>{{HomePageData.HomeMakesDifferent.description}}</p>
                    <a (click)="openSignUp(SignUPModal)" href="javascript:void(0)">
                        <img src="assets/images/speed.jpg" style="max-width: 150px;">
                    </a>
                </div>
                <div class="col-sm-5 img-diffrence">
                    <img [src]="filepath+HomePageData.HomeMakesDifferentImage.image" *ngIf="HomePageData.HomeMakesDifferentImage.image" style="border: 1px solid #9ECA01;">
                </div>
            </div>
        </div>
    </div>

    <div id="offer"></div>

    <div class="offer">
        <div class="container-fluid">
            <div class="row align-items-center " *ngIf="HomePageData.HomeOffer">
                <div class="col-sm-6">
                    <img [src]="filepath+HomePageData.HomeOffer.image" class="img-fluid">

                    <h4 class="mb-4">{{HomePageData.HomeOffer.title}}</h4>
                    <p>{{HomePageData.HomeOffer.description}}</p>
                    <!-- <button (click)="openSignUp(SignUPModal)" class="btn-white"> Join Now</button> -->
                </div>
                <div class="col-sm-6">
                    <div class="offer-points" *ngIf="slides">
                        <div class="offer-box" *ngFor="let slide of slides.data">
                            <img [src]="iconpath+slide.image" *ngIf="slide.image"> {{slide.title}}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div id="testimonial"></div>
    <div class="offer" style="border-top: 2px solid #9ECA01;">
        <div class="container-fluid">
            <ng-container *ngIf="HomePageData.HomeOfferImage8">
                <h4 class="mb-4">Our Clients</h4>
                <p>{{HomePageData.HomeOfferImage8.title}}</p>
                <img [src]="filepath+HomePageData.HomeOfferImage8.image" style="width: 100%;">
            </ng-container>
        </div>
    </div>
    
    <div id="train-with-us"></div>
    <div class=" pricing-wrapper" *ngIf="pricing">
        <div class="container">
            <h4 class="text-center mb-0">Smartspeed Programs</h4>
            <!-- <p class="text-center">We offers These subscription plan which you can avail as per your need</p> -->
            <div class="row justify-content-center">
                <div class="col-sm-4" *ngFor="let package of pricing2.data">
                    <div class="pricing">
                        <div class="price-header">
                            <h6 class="p-name">{{package.title}}</h6>
                            <!-- <h5 class="p-amount">{{package.price}} <small>Per Month</small></h5> -->
                        </div>
                        <br><br>
                        <div [innerHTML]="package.description"></div>

                    </div>
                </div>
                <div class="col-sm-4" *ngFor="let package of pricing.data">
                    <div class="pricing">
                        <div class="price-header">
                            <h6 class="p-name">{{package.title}}</h6>
                            <!-- <h5 class="p-amount">{{package.price}} <small>Per Month</small></h5> -->
                        </div>
                        <br><br>
                        <div [innerHTML]="package.description"></div>

                    </div>
                </div>
            </div>

            <h5 class="text-center mt-5" style="font-weight: 400; ">Not sure where to start? Simply click the button below for a free assessment <br>
                <br> <span (click)="openSignUp(SignUPModal)" style="cursor: pointer;"> 
                    <img src="assets/logo-price.png" style="max-width: 200px;">
                </span>
            </h5>
        </div>
    </div>

    <div class="faq pb-4" *ngIf="faqs">
        <div class="container-fluid pt-3">
            <div class=" row" id="faq">
                <div class="col-sm-6">
                    <h2>Frequently Asked Questions</h2>
                    <ngb-accordion [closeOthers]="true" activeIds="faqs-0">
                        <ngb-panel id="faqs-{{i}}" *ngFor="let faq of faqs.data;let i = index;">
                            <ng-template ngbPanelTitle>
                                <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> {{faq.question}}
                            </ng-template>
                            <ng-template ngbPanelContent>
                                {{faq.answer}}
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <p><em>Not sure where to start? Simply click the button below for a free assessment</em></p>
                    <a (click)="openSignUp(SignUPModal)" href="javascript:void(0)">
                        <img src="assets/images/speed.jpg" style="max-width: 150px;">
                    </a>
                </div>

                <div class="col-sm-6" *ngIf="HomePageData.HomeMakesDifferent3">
                    <img [src]="filepath+HomePageData.HomeMakesDifferent3.title"  style="border:1px solid #fff">
                    <!-- <img src="assets/faq.png" style="border:1px solid #fff"> -->
                    <!-- <div class="faqimage">
                        <img src="assets/images/question.svg" alt="">
                        <img src="assets/images/qcircle.svg" class="qcircle">
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    

</div>
<ng-container *ngIf="homepage" >
<app-footer [footerdata]="HomePageData.HomeMakesDifferent4"></app-footer>
</ng-container>