<h5 *ngIf="isAddMode" class="mt-2">Add Blog</h5>
<h5 *ngIf="!isAddMode" class="mt-2">Edit Blog</h5>


<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <file-upload [(picture)]="picture" [(loadingfile)]="loadingfile"></file-upload>
            <input type="hidden"  formControlName="image" [(ngModel)]="picture">
        </div>
       
        <select formControlName="isactive" class="form-control">
            <option value="">Select Status</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>


        <label for="title">Question</label>
        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required"> question is required</div>
        </div>
        <br>
        <p><b>Description</b></p>
        <textarea [ngxSummernote]="config" formControlName="description"></textarea>

        <br>
        <div class="text-right mt-2">
            <button [disabled]="loading || loadingfile" class="secondry-btn">
                <span *ngIf="loading || loadingfile" class="spinner-border spinner-border-sm mr-1"></span>
                    Save Details
            </button>
        </div>
    </div>

</form>