@import '../../assets/comman-style.scss';
.signup-header {
    color: #fff;
    background: #222 url(../../assets/images/bg.jpg);
    background-size: cover;
    background-position: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -33px -33px 0 -33px;
    h6 {
        font-size: 44px;
        margin: 0;
        line-height: 20px;
        font-weight: 100;
    }
}

.form-group{
    margin: 0;
}